/* @import './base.css'; */
html,
body {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#app {
  display: flex;
  flex: 1;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
}

/*定义滚动条轨道内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

/*定义滑块内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.pg_top {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
}
.pg_query {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 2px 8px 6px 8px;
}
.pg_grid {
  display: flex;
  flex: 1;
  padding: 1px;
  flex-direction: column;
  background-color: #f4f4f4;
  box-shadow: 0px 0px 14px 0px lightgray inset;
}
.lbStl0 {
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: unset;
  padding: 0px 6px 0px 0px;
}

.lbStl {
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: unset;
  padding: 4px 6px 4px 11px;
}
.commonInput {
  width: 168px;
  padding: 4px 6px 4px 0px;
}
.btnStl {
  display: flex;
}
